/*----------------
/	   TO-DO
-----------------*/

.veiwport {
	width: 100%;
	max-width: 550px;
	margin: 10px auto;
}

.tasks-list {
	max-height: 450px;
	margin-bottom: 10px;
	overflow-y: scroll;
	padding: 10px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.15);
}

.task {
	padding: 10px 15px 15px;
	margin-bottom: 10px;
	background: rgba(0, 0, 0, 0.01);

	&--1 {
		background: rgba(255, 89, 114, 0.35);
	}

	&--2 {
		background: rgba(244, 212, 66, 0.15);
	}

	&--3 {
		background: rgba(161, 255, 84, 0.15);
	}

	&--4 {
		background: rgba(0, 0, 0, 0.01);
	}

	&__info {
		display: flex;
		justify-content: space-between;
		margin: 10px 0;
		font-size: 0.9em;
	}

	&__descr {
		margin-bottom: 15px;
		font-size: 0.9em;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.project {

	&__name {
		font-size: 1.1em;
		font-weight: bold;
	}
}

.priority {
	
	&__num {
		font-size: 1.1em;
		font-weight: bold;
	}
}

.btns-wrap {
	display: flex;
	justify-content: space-between;
}

.btn {
	min-width: 150px;
	height: 32px;
	padding: 0 15px;
	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 2px;
	background: rgba(255, 255, 255, 0.8);
	color: rgba(0,0,0,0.8);
	font-weight: bold;
	font-size: 0.85em;
	transition: 0.3s;

	&--filter {
		height: 35px;
		min-width: 160px;
	}

	&--form {
		min-width: auto;
	}

	&:hover {
		background: rgba(0,0,0,0.5);
		color: #fff;
	}
}

.select {
	cursor: pointer;

	@extend .btn;
	@extend .btn--form;

	&:hover {
		background: rgba(255, 255, 255, 0.8);
		color: rgba(0,0,0,0.8);
	}
}


/*----------------
/	  FILTER
-----------------*/

.filter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px auto;
}

.check {
	height: 20px;
	line-height: 20px;

	&__box {
		position: relative;
		top: 1px;
		transform: scale(1.1);
	}

	&__text {
		padding-left: 5px;
		font-size: 0.9em;
		font-weight: bold;
	}
}

/*----------------
/	 EDIT FORM
-----------------*/

.form-wrap {
	margin-top: 15px;
	padding: 15px 20px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.15);
}

.form {
	width: 60%;
	float: right;

	&__item {
		position: relative;
		margin-bottom: 10px;

		&:last-child {
			margin: 0;
		}
	}

	&__label {
		position: absolute;
		left: -10px;
		transform: translate(-100%, 0)
	}

	&__field {
		height: 35px;
		width: 100%;
		padding: 0 10px;
		font-size: 0.9em;
		border-radius: 2px;
		border: 1px solid rgba(0,0,0,0.5);

		&--descr {
			height: 120px;
			padding: 5px 10px;
			resize: none;
			font-size: 15px;
			font-family: sans-serif;
		}
	}
}